# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled files
write_blocks
write_lines
max_ave_seq_disk
max_ave_seq_ram
max_ave_rand_disk
max_ave_rand_ram

# Output files
records.dat
records.txt
# Mac compiled files
*.dSYM
